.container {
  display: flex;
  align-items: center;
  margin-top: 120px;
  max-width: 1280px;
  justify-content: space-between;
  gap: 20px;
}

.imgflex {
  display: flex;
}

.flex {
  flex-direction: column;
}

.txt h2 {
  font-size: 56px;
  font-weight: 800;
  max-width: 600px;
}

.txt p {
  max-width: 470px;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #0f172a;
}

.btn {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn a {
  color: #2563eb;
  font-size: 20px;
}

.btn img {
  margin: 0;
}

@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column; /* Empilha os elementos no mobile */
    align-items: center; /* Centraliza os elementos */
    text-align: center; /* Centraliza o texto */
    gap: 20px; /* Espaçamento entre os elementos */
    padding: 0 16px; /* Adiciona padding lateral */
  }

  .txt {
    order: 1; /* Garante que o texto fique em primeiro */
  }

  .txt h2 {
    display: flex;
    margin: 0;
    text-align: left;
    font-size: 24px; /* Reduz o tamanho da fonte */
    font-weight: 700;
    line-height: 1.4; /* Ajusta o espaçamento entre linhas */
    max-width: 300px; /* Ajusta a largura do texto */
    margin-bottom: 24px; /* Espaçamento inferior */
  }

  .txt p {
    display: flex;
    margin: 0;
    text-align: left;
    font-size: 16px; /* Reduz o tamanho da fonte */
    font-weight: 400;
    color: #0f172a;
    max-width: 360px; /* Ajusta a largura do texto */
    margin-bottom: 16px; /* Espaçamento inferior */
  }

  .btn {
    display: flex;
    margin: 0;
    gap: 32px; /* Espaçamento entre os botões */
    align-items: center; /* Centraliza os botões */
    margin-bottom: 20px; /* Espaçamento inferior */
  }

  .btn a {
    display: flex;
    margin: 0;
    font-size: 16px; /* Reduz o tamanho da fonte */
    color: #2563eb;
  }

  .btn img {
    width: 20px; /* Ajusta o tamanho do ícone */
    height: 20px;
  }

  .imgflex {
    order: 2; /* Garante que a imagem fique depois do texto */
    display: flex;
    justify-content: center; /* Centraliza a imagem */
    align-items: center;
    margin-top: 20px; /* Espaçamento superior */
  }

  .imgflex img {
    width: 90px; /* Ajusta a largura da imagem */
    max-width: 300px; /* Define um tamanho máximo */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 16px; /* Adiciona bordas arredondadas */
  }
}
